@charset "utf-8";

/* --

title: CSS 설정

desc: 페이지의 CSS설정을 정의함.


+ 각 요소에 수치적인 값이 있는 경우는 항상 단위를 표기한다.
+ 아이디명이나 클래스명은 모두가 인지하기 쉽도록 관련된 네이밍을 가진다.
+ 아이디는 하나의 페이지 안에 단하나의 유일한 아이디 만이 존재한다. 클래스는 동일한 명의 클래스가 다수 존재 가능하다.
+ 아이디는 앞에 (#)을 표기하고 클래스는 앞에 (.)을 표기한다

-- */

/* layout */
#wrap{min-width:964px;margin:0 auto;background:url(../img/bg.jpg) no-repeat center top;}

#header{width:1120px;margin:0 auto;}

#etc-mainwrap{font-size:12px; /* 폰트사이즈는 body속성에 한번 정의하면 전역으로 적용된다. */
	font-family:"돋움",Dotum,"굴림",Gulim,arial,serif,sans-serif; background:url(../img/main_bg.jpg) no-repeat center top;}
	#etc-main{position:relative;width:1120px;height:912px;margin:0 auto;background:url(../img/main_visual.jpg) no-repeat center top;}
	#etc-main .man{position:absolute;left:0;top:417px;opacity:0;}
	#etc-main .woman{position:absolute;right:0;top:417px;opacity:0;}

#consultwrap{background:url(../img/bg_man.jpg) no-repeat center top;}
	#consultwrap #con{position:relative;width:1120px;height:912px;margin:0 auto;background:url(../img/man.jpg) no-repeat center top;}

#womanwrap{background:url(../img/bg_woman.jpg) no-repeat center top;}
	#womanwrap #con{position:relative;width:1120px;height:912px;margin:0 auto;background:url(../img/woman.jpg) no-repeat center top;}

#endingwrap{background:url(../img/ending_bg.jpg) no-repeat center top;}
	#endingwrap #con{position:relative;width:1120px;height:1032px;margin:0 auto;background:url(../img/ending.jpg) no-repeat center top;}

#etc-footer{width:1120px;margin:0 auto; overflow:hidden;}
	#etc-footer ul{clear:both;}
	#etc-footer ul li{float:left;}

#touchSlider2 { width:1120px; height:912px; margin:0 auto; position:absolute; overflow:hidden; }
#touchSlider2 ul { width:99999px; height:912px; position:absolute; top:0; left:0; overflow:hidden; }
#touchSlider2 ul li { float:left; width:1120px; height:912px; font-size:14px; color:#fff; }

.btn_area {position:absolute; top:600px; left:775px; overflow:hidden; }
.btn_area button { display:block; width:240px; height:100px;}
.btn_area button.btn_prev {display:none; text-indent:-9999px;}
.btn_area button.btn_next {width:240px; height:100px; outline:none; background:url(../img/btn_next.png) no-repeat 0 0; border:0; text-indent:-9999px;}
.btn_area .btn_page { display:inline-block; width:10px; height:10px; margin:3px; font-size:0px; line-height:0; text-indent:-9999px; background:#3399CC; }
.btn_area .btn_page.on { background:#ff0000; }

#touchSlider2 p.q{padding:40px 0 0 100px;}

	.q1 .a{position:relative;margin-top:47px;height:431px;background:url(../img/a1_bg.png) no-repeat 0 0;}
	.q2 .a{position:relative;margin-top:92px;height:346px;background:url(../img/a2_bg.png) no-repeat 0 0;}
	.q3 .a{position:relative;margin-top:112px;height:291px;background:url(../img/a3_bg.png) no-repeat 0 0;}
	.q4 .a{position:relative;margin-top:74px;height:403px;background:url(../img/a4_bg.png) no-repeat 0 0;}

	/* checkbox 이미지 */
	.a img{width:134px;height:134px;opacity:0;}
	.a label{display:none;}
	/* 긴 checkbox 이미지 */
	.ya img{width:350px; height:50px;opacity:0.8;}

	.chk_gpa1{position:absolute;left:409px;top:0;}
	.chk_gpa2{position:absolute;left:409px;top:60px;}
	.chk_gpa3{position:absolute;left:409px;top:120px;}
	.chk_gpa4{position:absolute;left:409px;top:180px;}
	.chk_gpa5{position:absolute;left:409px;top:240px;}
	.chk_gpa6{position:absolute;left:409px;top:300px;}
	.chk_gpa7{position:absolute;left:409px;top:360px;}
	.chk_gpa1 img{background:url(../img/a1_1.png) no-repeat center 50%;}
	.chk_gpa2 img{background:url(../img/a1_2.png) no-repeat center 50%;}
	.chk_gpa3 img{background:url(../img/a1_3.png) no-repeat center 50%;}
	.chk_gpa4 img{background:url(../img/a1_4.png) no-repeat center 50%;}
	.chk_gpa5 img{background:url(../img/a1_5.png) no-repeat center 50%;}
	.chk_gpa6 img{background:url(../img/a1_6.png) no-repeat center 50%;}
	.chk_gpa7 img{background:url(../img/a1_7.png) no-repeat center 50%;}
	#consultwrap .chk_gpa1-hover img, #consultwrap .chk_gpa1-checked img{background:url(../img/a1_m_1_on.png) no-repeat center 50%;}
	#consultwrap .chk_gpa2-hover img, #consultwrap .chk_gpa2-checked img{background:url(../img/a1_m_2_on.png) no-repeat center 50%;}
	#consultwrap .chk_gpa3-hover img, #consultwrap .chk_gpa3-checked img{background:url(../img/a1_m_3_on.png) no-repeat center 50%;}
	#consultwrap .chk_gpa4-hover img, #consultwrap .chk_gpa4-checked img{background:url(../img/a1_m_4_on.png) no-repeat center 50%;}
	#consultwrap .chk_gpa5-hover img, #consultwrap .chk_gpa5-checked img{background:url(../img/a1_m_5_on.png) no-repeat center 50%;}
	#consultwrap .chk_gpa6-hover img, #consultwrap .chk_gpa6-checked img{background:url(../img/a1_m_6_on.png) no-repeat center 50%;}
	#consultwrap .chk_gpa7-hover img, #consultwrap .chk_gpa7-checked img{background:url(../img/a1_m_7_on.png) no-repeat center 50%;}

	.chk_whatTest1{position:absolute;left:409px;top:104px;}
	.chk_whatTest2{position:absolute;left:409px;top:0px;}
	.chk_whatTest1 img{background:url(../img/a2_1.png) no-repeat center 50%;}
	.chk_whatTest2 img{background:url(../img/a2_2.png) no-repeat center 50%;}
	#consultwrap .chk_whatTest1-hover img, #consultwrap .chk_whatTest1-checked img{background:url(../img/a2_m_1_on.png) no-repeat center 50%;}
	#consultwrap .chk_whatTest2-hover img, #consultwrap .chk_whatTest2-checked img{background:url(../img/a2_m_2_on.png) no-repeat center 50%;}

	.chk_edu1{position:absolute;left:107px;top:84px;}
	.chk_edu2{position:absolute;left:386px;top:157px;}
	.chk_edu3{position:absolute;left:606px;top:0;}
	.chk_edu4{position:absolute;left:877px;top:125px;}
	.chk_edu1 img{width:131px;height:131px;background:transparent url(../img/a3_1.png) no-repeat center 50%;}
	.chk_edu2 img{background:url(../img/a3_2.png) no-repeat no-repeat center 50%;}
	.chk_edu3 img{background:url(../img/a3_3.png) no-repeat no-repeat center 50%;}
	.chk_edu4 img{background:url(../img/a3_4.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_edu1-hover img, #consultwrap .chk_edu1-checked img{width:131px;height:131px;background:transparent url(../img/a3_m_1_on.png) no-repeat center 50%;}
	#consultwrap .chk_edu2-hover img, #consultwrap .chk_edu2-checked img{background:url(../img/a3_m_2_on.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_edu3-hover img, #consultwrap .chk_edu3-checked img{background:url(../img/a3_m_3_on.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_edu4-hover img, #consultwrap .chk_edu4-checked img{background:url(../img/a3_m_4_on.png) no-repeat no-repeat center 50%;}

	.chk_work_all{position:absolute;left:42px;top:68px;}
	.chk_work1{position:absolute;left:181px;top:0;}
	.chk_work2{position:absolute;left:224px;top:188px;}
	.chk_work3{position:absolute;left:408px;top:255px;}
	.chk_work4{position:absolute;left:506px;top:94px;}
	.chk_work5{position:absolute;left:650px;top:0;}
	.chk_work6{position:absolute;left:719px;top:202px;}
	.chk_work7{position:absolute;left:839px;top:55px;}
	.chk_work8{position:absolute;left:950px;top:202px;}
	.chk_work_all img{width:131px;height:131px;background:transparent url(../img/a4_1.png) no-repeat center 50%;}
	.chk_work1 img{background:transparent url(../img/a4_2.png) no-repeat center 50%;}
	.chk_work2 img{background:url(../img/a4_3.png) no-repeat no-repeat center 50%;}
	.chk_work3 img{background:url(../img/a4_4.png) no-repeat no-repeat center 50%;}
	.chk_work4 img{background:url(../img/a4_5.png) no-repeat no-repeat center 50%;}
	.chk_work5 img{background:url(../img/a4_6.png) no-repeat no-repeat center 50%;}
	.chk_work6 img{background:url(../img/a4_7.png) no-repeat no-repeat center 50%;}
	.chk_work7 img{background:url(../img/a4_8.png) no-repeat no-repeat center 50%;}
	.chk_work8 img{background:url(../img/a4_9.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_work_all-hover img, #consultwrap .chk_work_all-checked img{width:131px;height:131px;background:transparent url(../img/a4_m_1_on.png) no-repeat center 50%;}
	#consultwrap .chk_work1-hover img, #consultwrap .chk_work1-checked img{background:transparent url(../img/a4_m_2_on.png) no-repeat center 50%;}
	#consultwrap .chk_work2-hover img, #consultwrap .chk_work2-checked img{background:url(../img/a4_m_3_on.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_work3-hover img, #consultwrap .chk_work3-checked img{background:url(../img/a4_m_4_on.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_work4-hover img, #consultwrap .chk_work4-checked img{background:url(../img/a4_m_5_on.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_work5-hover img, #consultwrap .chk_work5-checked img{background:url(../img/a4_m_6_on.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_work6-hover img, #consultwrap .chk_work6-checked img{background:url(../img/a4_m_7_on.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_work7-hover img, #consultwrap .chk_work7-checked img{background:url(../img/a4_m_8_on.png) no-repeat no-repeat center 50%;}
	#consultwrap .chk_work8-hover img, #consultwrap .chk_work8-checked img{background:url(../img/a4_m_9_on.png) no-repeat no-repeat center 50%;}

.ending_1{padding-top:261px;height:771px;background:url(../img/ending_1.png) no-repeat 0 0;}
.ending_2{padding-top:706px;height:206px;background:url(../img/ending_2.png) no-repeat 0 0;}

	.ending_1 ul{overflow:hidden;}
	.ending_1 input[type=text]{width:345px;height:62px;padding-left:20px;font-size:15px;border:0;}
	.ending_1 li{float:left;width:365px;height:62px;margin:0 0 18px 156px;}
	.ending_1 .in1,.ending_1 .in3,.ending_1 .in5,.ending_1 .in7{margin-right:48px;}
	.ending_1 .in7{margin-right:48px;}
	.ending_1 .in7 input{width:108px;text-align:center;margin-right:20px;padding:0;}
	.ending_1 .in7 input.last{margin-right:0}
	.ending_1 .in10{width:412px;}

	.ending_1 .chk1 img{width:64px;height:64px;margin-right:17px;background:transparent url(../img/radio_11.png) no-repeat center 50%;}
	.ending_1 .chk2 img{width:64px;height:64px;background:transparent url(../img/radio_12.png) no-repeat center 50%;}
	.ending_1 .chk3 img{width:64px;height:64px;margin-right:17px;background:transparent url(../img/radio_21.png) no-repeat center 50%;}
	.ending_1 .chk4 img{width:64px;height:64px;background:transparent url(../img/radio_22.png) no-repeat center 50%;}
	.ending_1 .chk1-checked img{width:64px;height:64px;background:transparent url(../img/radioed_11.png) no-repeat center 50%;}
	.ending_1 .chk2-checked img{width:64px;height:64px;background:transparent url(../img/radioed_12.png) no-repeat center 50%;}
	.ending_1 .chk3-checked img{width:64px;height:64px;background:transparent url(../img/radioed_21.png) no-repeat center 50%;}
	.ending_1 .chk4-checked img{width:64px;height:64px;background:transparent url(../img/radioed_22.png) no-repeat center 50%;}

	p.agree1{clear:both;height:39px;margin:20px 0 0 37px;}
	div.agtxt{float:left;margin-left:37px;margin-bottom:56px;}
	div.agtxt div{width:502px;height:109px;margin-bottom:15px;overflow-y:scroll;background:#fff;}
	p.btn{clear:both;text-align:center;}
	p.btn img{margin:0 58px;}

	.ending_1 .ag img{width:250px;height:23px;margin-right:17px;background:transparent url(../img/check.gif) no-repeat 0 50%;}
	.ending_1 .ag-checked img{width:250px;height:23px;margin-right:17px;background:transparent url(../img/checked.gif) no-repeat 0 50%;}

	.ending_1 .ag1 img{width:420px;height:29px;margin-right:17px;background:transparent url(../img/check.gif) no-repeat 0 50%;}
	.ending_1 .ag1-checked img{width:420px;height:29px;margin-right:17px;background:transparent url(../img/checked.gif) no-repeat 0 50%;}

.ending_1 div.select{position:relative;}

/* setting the width and height of the SELECT element to match the replacing graphics */
.ending_1 select.select{
		position:relative;
		z-index:10;
		width:365px !important;
		height:62px !important;
		font-size:15px;
		line-height:62px;
}

/* dynamically created SPAN, placed below the SELECT */
.ending_1 span.select{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:365px;
	height:62px;
	line-height:62px;
	text-indent:20px;
	font-size:15px;
	background:url(../img/select.gif) no-repeat 0 0;
	cursor:default;
	z-index:1;
	}



.ending_1 div.select-etc {position:relative; float:left; width:150px; }

/* setting the width and height of the SELECT element to match the replacing graphics */
.ending_1 select.select-etc {
		position:relative;
		z-index:10;
		width:170px !important;
		height:62px !important;
		font-size:15px;
		line-height:62px;
}

/* dynamically created SPAN, placed below the SELECT */
.ending_1 span.select-etc{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:150px;
	height:62px;
	line-height:62px;
	text-indent:20px;
	font-size:15px;
	background:url(../img/select.gif) no-repeat right top;
	cursor:default;
	z-index:1;
	}


@font-face {
	font-family:'Nanum Gothic';
	font-style: normal;
	font-weight:800;
	src:url('../fonts/NanumGothic/NanumGothic-Regular.eot');
	src:url('../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'), url('../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'), url('../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
	}
@font-face {
	font-family:'Nanum Gothic Bold';
	font-style:normal;
	font-weight:700;
	src:url('../fonts/NanumGothic/NanumGothic-Bold.eot');
	src:url('../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'), url('../fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'), url('../fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
	}



#m-why { width:100%; min-width:1120px; border-top:1px solid #c5c1bb; }
#m-why a { color:inherit; }

#m-why img.w-img-1 { display:block; margin:0 auto; }
#m-why img.w-img-2 { display:block; margin:0 auto; padding:30px 0 80px; }
#m-why .blank { display:block; width:100%; height:1px; overflow:hidden; }

#m-why .why-box-1, #m-why .why-box-3 { width:100%; min-width:1120px; background:#ffffff; }
#m-why .why-box-2, #m-why .why-box-4 { width:100%; min-width:1120px; background:#f7f7f7; }
#m-why .why-box-5 { margin:0 auto; padding-top:140px; width:100%; min-width:1120px;height:190px; background:#ffffff url(../img/why_bg_06.jpg) no-repeat center top; overflow:hidden; }
#m-why .why-box-6 { padding-bottom:100px; width:100%; min-width:1120px; background:#ffffff; }

#m-why .why-box-1 .w-txt-1 { margin:0 auto; width:840px; padding:70px 0 40px; font-family:Nanum Gothic; font-size:42px; text-align:center; }
#m-why .why-box-1 .w-txt-2 { margin:0 auto; width:840px; padding:60px 0 30px; font-family:Nanum Gothic; font-size:34px; text-align:center; }
#m-why .why-box-1 ul.menu { margin:0 auto; width:840px; overflow:hidden; }
#m-why .why-box-1 ul.menu li { float:left; width:278px; background:#ffffff; border:1px solid #e6e6e6; color:#727272; text-align:center; line-height:43px; }
#m-why .why-box-1 ul.menu .on { background:#808186; border:1px solid #808186; color:#ffffff; }
#m-why .why-box-1 .prize { display:block; margin:0 auto; padding:55px 0 0 100px; width:740px; height:171px; background:url(../img/why_bg_01.jpg) no-repeat left top; overflow:hidden; }
#m-why .why-box-1 .prize .icon-1 { display:block; float:left; width:103px; height:102px; background:url(../img/why_02.jpg) no-repeat left top; font-size:0; line-height:0; text-indent:-99999px; }
#m-why .why-box-1 .prize .w-txt-3 { display:block; width:575px; font-family:Nanum Gothic; font-size:24px; color:#9d9d9d; }
#m-why .why-box-1 .prize .w-txt-4 { display:block; padding:5px 0; width:575px; font-family:Malgun Gothic, 맑은 고딕; font-size:13px; color:#838383; }
#m-why .why-box-1 .prize .icon-2 { display:block; width:245px; height:32px; background:url(../img/why_03.jpg) no-repeat left top; font-size:0; line-height:0; text-indent:-99999px; }

#m-why .why-box-2 .w-txt-1 { margin:0 auto; width:840px; padding:65px 0 20px; font-family:Nanum Gothic; font-size:34px; color:#333333; text-align:center; }
#m-why .why-box-2 p.w-txt-2 { display:block; margin:0 auto; width:840px; font-family:Malgun Gothic, 맑은 고딕; font-size:16px; color:#838383; text-align:center; }

#m-why .why-box-3 .w-txt-1 { margin:0 auto; width:840px; padding:80px 0 50px; font-family:Nanum Gothic; font-size:34px; color:#333333; text-align:center; }
#m-why .why-box-3 .duo-count { display:block; margin:0 auto; padding:260px 0 0 0; width:840px; height:137px; background:url(../img/why_bg_03.jpg) no-repeat left top; overflow:hidden; position:relative; }
#m-why .why-box-3 .duo-count .member { display:block; margin-left:127px; width:240px; float:left; }
#m-why .why-box-3 .duo-count .couple { display:block; margin-left:124px; width:240px; float:left; }
#m-why .why-box-3 .duo-count .c-txt-1 { display:block; padding-left:40px; font-family:Nanum Gothic Bold; font-size:40px; color:#333333; }
#m-why .why-box-3 .duo-count .c-txt-2 { display:block; padding-left:60px; font-family:Malgun Gothic, 맑은 고딕; font-size:16px; color:#838383; }
#m-why .why-box-3 .duo-count span.c-txt-3 { display:block; position:absolute; top:0; right:0; width:200px; height:32px; line-height:32px; background:#76acdf; font-family:Malgun Gothic, 맑은 고딕; font-size:16px; color:#ffffff; text-align:center; }

#m-why .why-box-4 .w-txt-1 { margin:0 auto; width:840px; padding:90px 0 30px; font-family:Nanum Gothic; font-size:48px; color:#333333; text-align:center; }
#m-why .why-box-4 p.w-txt-2 { display:block; margin:0 auto; width:840px; padding-bottom:30px; font-family:Malgun Gothic, 맑은 고딕; font-size:16px; color:#838383; text-align:center; line-height:32px; }

#m-why .why-box-5 p.w-txt-1 { display:block; margin-left:44px; float:left; width:206px; font-family:Malgun Gothic, 맑은 고딕; font-size:14px; line-height:29px; color:#777777; text-align:center; }
#m-why .why-box-5 p.w-txt-2 { display:block; margin-left:67px; float:left; width:206px; font-family:Malgun Gothic, 맑은 고딕; font-size:14px; line-height:29px; color:#ffffff; text-align:center; }
#m-why .why-box-5 p.w-txt-3 { display:block; margin-left:67px; float:left; width:206px; font-family:Malgun Gothic, 맑은 고딕; font-size:14px; line-height:29px; color:#777777; text-align:center; }

#m-why .why-box-6 ul.prize { width:850px; overflow:hidden; }
#m-why .why-box-6 ul.prize li { float:left; width:160px; margin-right:10px; margin-bottom:35px; }
#m-why .why-box-6 ul.prize li span.w-txt-1 { display:block; width:160px; padding-top:10px; height:36px; overflow:hidden; font-family:Malgun Gothic, 맑은 고딕; font-size:12px; color:#838383; text-align:center; line-height:18px; }
